---
faq:
  - question: Bagaimana cara download config?
    answer: Anda hanya perlu menekan tombol download saja. Lalu anda scroll hingga paling bawah dan centang bukan robot dan lanjutkan nanti secara otomatis akan download dengan sendirinya.
  - question: Bagaimana cara memasang config dari master?
    answer: Setelah anda selesai download. Di harapkan agar tidak me-ekstrak file namun anda hanya masuk ke menu config manage lalu pilih tabel dengan backup dan masukkan file backup format .tar.gz itu kemudian tekan saja upload nanti config akan secara otomatis di setting dengan sendirinya.
  - question: Bagaimana cara mengubah redir host atau fake ip?
    answer: Anda bisa menuju ke menu global setting pada tab utama lalu scroll ke bawah hingga ada tombol switch page to redir host atau switch page to fake ip.
  - question: Apa saja ke istimewaan dari config master?
    answer: Config dari MWNS Official sangat teruji dengan kualitas yang tidak di ragukan lagi untuk sebuah koneksi jaringan internet.
  - question: Bagaimana cara mengisi akun?
    answer: Anda bisa menuju ke config editor lalu arahkan ke proxy provider lalu pilih salah satu akun dan tekan edit dan lakukan pengisian akun anda kemudian tekan save untuk menyimpan. Atau anda juga bisa menuju ke menu server group pada bagian proxies untuk otomatis akun anda yang hanya punya link akun saja dan pastikan nama config dari simaster.
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>
